body									{ margin: 0; padding: 0; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 12px; }
body.dark								{ background: #111; color: #fff; }

#header_container						{ background: #000; color: #fff; height: 35px; }
#header									{ width: 850px; margin: 0px auto; }

#logo									{ float: left; }
#logo h1								{ font-size: 16px; color: #666; line-height: 1em; margin-top: 8px; }
ul#nav									{ float: right; list-style: none; margin-top: 8px; }
ul#nav li								{ display: inline; margin-left: 15px; color: #666; }
ul#nav li a								{ color: #fff; font-weight: bold; text-decoration: none; }
ul#nav li .username						{ font-weight: bold; }

#controls_container						{ background: #eee; height: 40px; border-bottom: solid 1px #999; margin-bottom: 20px; }
#controls								{ width: 850px; margin: 0px auto; }
ul#controls_left						{ float: left; list-style: none; padding: 0; }
ul#controls_left li						{ display: inline; margin-right: 5px; }
ul#controls_right						{ float: right; list-style: none; padding: 0; }
ul#controls_right li					{ display: inline; margin-left: 5px; }

.button									{ padding: 5px 7px; background: #ddd; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#ccc)); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #000; font-weight: bold; text-decoration: none; border: solid 1px #999; }
.button:hover							{ background: #fff; cursor: pointer; }
.smallbutton							{ padding: 1px 3px; font-size: .9em; }

#main									{ width: 850px; margin: 0px auto; overflow: hidden; clear: both; padding-bottom: 25px; }
#main h2								{ font-size: 12px; }

#image_container						{ width: 850px; height: 300px; overflow: scroll; margin-bottom: 2em; border: solid 1px #999; }

#text_container							{ width: 600px; height: 200px; margin: 0px auto; }
textarea#itemtext						{ width: 600px; height: 200px; border: solid 1px #999; padding: 10px; font-size: 1.3em; line-height: 1.4em; }

.bigcol									{ width: 550px; float: left; margin-top: 20px; }
.sidebar								{ width: 250px; margin-left: 50px; float: left; margin-top: 20px; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
 }

.bigcol h3								{ margin-top: 3em; padding: 3px 6px; }
.bigcol h3:first-child					{ margin-top: 0; }

h3#current								{ background: #333; color: #fff; margin-bottom: 0; border-top-left-radius: 7px; border-top-right-radius: 7px; }

ul#current_items 						{ list-style: none; margin: 0; padding: 0; border-top: solid 1px #ccc; }
ul#current_items li						{ border-bottom: solid 1px #ccc; padding: 6px; clear: both; overflow: hidden; }
ul#current_items li .item_title			{ font-size: 1.2em; font-weight: bold; }
ul#current_items li .item_title a		{ color: #000; text-decoration: none; }
ul#current_items li .deadline			{ font-size: .6em; color: #999; margin-left: 5px; }

ul#current_items li .project_title		{ margin-top: 5px; font-size: .9em; color: #666; }
ul#current_items li .proof_button		{ float: right; padding-top: 8px; }
ul#current_items li .button				{ font-size: 1.2em; }

ul#current_items li:last-child			{ background: #333; padding: 0; height: 10px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; }

.sidebar h3								{ margin: 0; padding: 5px 5px 0 5px; }

.stat									{ font-weight: bold; }

#message								{ width: 830px; margin: 0px auto 15px; background: #ffe; color: #660; border: solid 1px #dda; border-top: none; padding: 10px; }
#error									{ width: 830px; margin: 0px auto 15px; background: #fee; color: #600; border: solid 1px #daa; border-top: none; padding: 10px; }

#spinner								{ display: none; vertical-align: middle; }

#project_form							{ padding-top: 5px; }
#project_form label						{ display: block; font-weight: bold; margin-top: 18px; margin-bottom: 2px; }
#project_form input						{ display: block; }
#project_form input[type="text"]		{ font-size: 1em; }
#project_form input[type="submit"]		{ margin-top: 2em; }
#project_form textarea					{ display: block; font-size: 1em; padding: 3px; width: 450px; height: 60px; }

#project_form #project_title			{ width: 300px; }
#project_form #project_slug				{ width: 50px; }
#project_form #project_deadline			{ width: 30px; }
#project_form #project_numproofs		{ width: 30px; }

#uploadcol								{ width: 350px; float: left; margin-right: 50px; margin-top: 20px; }
#file_uploadQueue						{ width: 350px; }
.uploadifyQueueItem						{ width: 350px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important; font-size: 11px !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
 }
.uploadifyQueueItem .percentage			{ font-weight: bold; }

.uploadifyProgressBar					{ height: 10px !important; }

#items									{ width: 423px; float: left; border-left: solid 1px #ccc; padding-left: 25px; margin-top: 20px; }
#save_items								{ display: none; }
#save_items label						{ font-weight: bold; margin-bottom: 5px; display: block; }
#save_items textarea					{ font-size: 1em; width: 400px; height: 100px; margin-bottom: 2em; }
