RewriteEngine On
AddDefaultCharset UTF-8

# directories we want to leave alone
RewriteRule ^js/(.*) js/$1 [L]
RewriteRule ^lib/(.*) lib/$1 [L]
RewriteRule ^include/(.*) include/$1 [L]
RewriteRule ^images/(.*) images/$1 [L]
RewriteRule ^img/(.*) img/$1 [L]

## Login

RewriteRule ^login/process process_login.php [L]
RewriteRule ^signup process_signup.php [L]
RewriteRule ^logout/ logout.php [L]
RewriteRule ^logout logout.php [L]

## Main pages 

RewriteRule ^settings/ settings.php [L]
RewriteRule ^settings settings.php [L]
RewriteRule ^projects/(.*)/guidelines project_details.php?project_slug=$1&guidelines=true [L]
RewriteRule ^projects/(.*)/join join_project.php?slug=$1 [L]
RewriteRule ^projects/(.*) project_details.php?project_slug=$1 [L]
RewriteRule ^projects/ projects.php [L]
RewriteRule ^projects projects.php [L]
RewriteRule ^dashboard/ dashboard.php [QSA]
RewriteRule ^dashboard dashboard.php [QSA]

## Admin stuff

RewriteRule ^admin/$ admin.php [L]
RewriteRule ^admin$ admin.php [L]
RewriteRule ^admin/projects/(.*)/ admin_project.php?slug=$1 [L]
RewriteRule ^admin/projects/(.*) admin_project.php?slug=$1 [L]
RewriteRule ^admin/new_project/ admin_project.php?mode=new [L]
RewriteRule ^admin/new_project admin_project.php?mode=new [L]
RewriteRule ^admin/save_project/ save_project.php [L]
RewriteRule ^admin/save_project save_project.php [L]
RewriteRule ^admin/upload/(.*) upload.php?slug=$1 [L]
RewriteRule ^admin/upload_backend/ upload_backend.php [L]
RewriteRule ^admin/upload_backend upload_backend.php [L]
RewriteRule ^admin/save_pages/ save_pages.php [L]
RewriteRule ^admin/save_pages save_pages.php [L]
RewriteRule ^admin/review/(.*)/(.*)/(.*) review.php?project_slug=$1&item_id=$2&user=$3 [L]

## Editing

RewriteRule ^edit/(.*)/(.*) edit.php?project_slug=$1&item_id=$2 [L]
RewriteRule ^activate/(.*) activate.php?hash=$1 [L]
