RewriteEngine On
AddDefaultCharset UTF-8

# directories we want to leave alone
RewriteRule ^js/(.*) js/$1 [L]
RewriteRule ^lib/(.*) lib/$1 [L]
RewriteRule ^uploadify/(.*) uploadify/$1 [L]
RewriteRule ^include/(.*) include/$1 [L]
RewriteRule ^images/(.*) images/$1 [L]
RewriteRule ^img/(.*) img/$1 [L]
RewriteRule ^login/process process_login.php [L]
RewriteRule ^login/ login.php [L,QSA]
RewriteRule ^login login.php [L,QSA]
RewriteRule ^logout/ logout.php [L]
RewriteRule ^logout logout.php [L]
RewriteRule ^settings/ settings.php [L]
RewriteRule ^settings settings.php [L]
RewriteRule ^projects/(.*)/guidelines project_details.php?project_slug=$1&guidelines=true [L]
RewriteRule ^projects/(.*)/join join_project.php?slug=$1 [L]
RewriteRule ^projects/(.*) project_details.php?project_slug=$1 [L]
RewriteRule ^projects/ projects.php [L]
RewriteRule ^projects projects.php [L]
RewriteRule ^dashboard/ dashboard.php [QSA]
RewriteRule ^dashboard dashboard.php [QSA]
RewriteRule ^new_project_backend/ new_project_backend.php [L]
RewriteRule ^new_project_backend new_project_backend.php [L]
RewriteRule ^new_project/ new_project.php [L]
RewriteRule ^new_project new_project.php [L]
RewriteRule ^upload_items_backend/ upload_items_backend.php [L]
RewriteRule ^upload_items_backend upload_items_backend.php [L]
RewriteRule ^upload_items/(.*) upload_items.php?slug=$1 [L]
RewriteRule ^save_items_backend/ save_items_backend.php [L]
RewriteRule ^save_items_backend save_items_backend.php [L]
RewriteRule ^edit/(.*)/(.*) edit.php?project_slug=$1&item_id=$2 [L]
RewriteRule ^activate/(.*) activate.php?hash=$1 [L]
