RewriteEngine On
AddDefaultCharset UTF-8

# directories we want to leave alone
RewriteRule ^js/(.*) js/$1 [L]
RewriteRule ^lib/(.*) lib/$1 [L]
RewriteRule ^include/(.*) include/$1 [L]
RewriteRule ^images/(.*) images/$1 [L]
RewriteRule ^login/process process_login.php [L]
RewriteRule ^login/ login.php [L,QSA]
RewriteRule ^login login.php [L,QSA]
RewriteRule ^logout/ logout.php [L]
RewriteRule ^logout logout.php [L]
RewriteRule ^account/ account.php [L]
RewriteRule ^account account.php [L]
RewriteRule ^dashboard/ dashboard.php [QSA]
RewriteRule ^dashboard dashboard.php [QSA]
RewriteRule ^edit/(.*)/(.*) edit.php?project_slug=$1&item_id=$2 [L]
