{% include 'header.html' %}

<div id="main">
	<h2>{{ title }}</h2>

	<form id="project_form" action="{{ siteroot }}/admin/save_project" method="POST">
		<div class="bigcol">
			<label>Title</label>
			<input type="text" id="project_title" name="project_title" value="{{ project.title }}" />

			<label>Author</label>
			<input type="text" id="project_author" name="project_author" value="{{ project.author }}" />

			<label>Slug</label>
			<input type="text" id="project_slug" name="project_slug" value="{{ project.slug }}" />

			<label>Language</label>
			<input type="text" id="project_language" name="project_language" value="{{ project.language }}"/>

			<label>Length of Deadline (# days)</label>
			<input type="text" id="project_deadline" name="project_deadline" value="{{ project.deadline }}" />

			<label># of Proofs Per Item</label>
			<input type="text" id="project_numproofs" name="project_numproofs" value="{{ project.num_proofs }}" />

			<label>Description</label>
			<textarea id="project_desc" name="project_desc">{{ project.desc }}</textarea>

			<label>Guidelines</label>
			<textarea id="project_guidelines" name="project_guidelines">{{ project.guidelines }}</textarea>

			<label>Thumbnails</label>
			<input type="text" id="project_thumbnails" name="project_thumbnails" value="{{ project.thumbnails }}" />

			<label>Status</label>
			<select id="project_status" name="project_status">
				<option {% if project.status == 'pending' %}selected {% endif %}value="pending">Pending</option>
				<option {% if project.status == 'active' %}selected {% endif %}value="active">Active</option>
				<option {% if project.status == 'completed' %}selected {% endif %}value="completed">Completed</option>
				<option {% if project.status == 'posted' %}selected {% endif %}value="posted">Posted</option>
			</select>

			{% if items %}
			<h3>Items and Assignments</h3>
			<ul class="items">
				{% for item in items %}
				<li><h4>{{ item.title }}</h4> <span class="status {{ item.status }}">({{ item.status }})</span>
					{% for assignment in item.assignments %}
					<a class="assignment{% if assignment.date_completed != '' %} done{% endif%}" href="{{ siteroot }}/admin/review/{{ slug }}/{{ item.id }}/{{ assignment.username }}">{{ assignment.username }}</a>
					{% endfor %}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>

		<div class="sidebar">
			<p><input type="submit" value="{{ buttontitle }}" class="button" /></p>

			{% if mode != 'new' %}
			<h3>Item Administration</h3>
			<p><a class="button" href="{{ siteroot }}/admin/upload/{{ slug }}">Add Items</a></p>
			{% endif %}

			<input type="hidden" id="mode" name="mode" value="{{ mode }}" />
		</div>
	</form>
</div>

{% include 'footer.html' %}
