{% include 'header_shared.html' %}

<body>
	<div id="header_container">
		<div id="header">
			<div id="logo"><a href="{{ siteroot }}/"><img src="{{ siteroot }}/img/logo.jpg" alt="Unbindery" /></a></div>
			<ul id="nav">
				{% if user.loggedin %}
					<li>Logged in as <span class="username">{{ user.username }}</span></li>
					<li><a href="{{ siteroot }}/dashboard">Dashboard</a></li>
					<li><a href="{{ siteroot }}/projects">Projects</a></li>
					{% if user.admin %}
					<li><a href="{{ siteroot }}/admin">Admin</a></li>
					{% endif %}
					<li><a href="{{ siteroot }}/settings">Settings</a></li>
					<li><a href="{{ siteroot }}/logout">Logout</a></li>
				{% else %}
					<li><a href="{{ siteroot }}/signup">Sign Up</a></li>
					<li><a href="{{ siteroot }}/login">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
