<div id="controls_container" class="controls {{ proof_type }}{% if proof_user != '' %} existing{% endif %}">
	<div id="controls" class="container">
		<ul id="controls_left">
			<li><a href="{{ app_url }}/users/{{ username }}/dashboard" class="button">{{ i18n.t('controls.back') }}</a></li>
			<li><a href="{{ app_url }}/projects/{{ project.slug }}#guidelines" class="button" target="_blank">{{ i18n.t('controls.guidelines') }}</a></li>
			<li><span id="characters" class="button">{{ i18n.t('controls.characters') }}</span></li>
		</ul>
		<ul id="controls_right">
			<li><img src="{{ theme_root }}/images/spinner-dark.gif" id="spinner" /></li>
			{% if already_finished or proof_type == 'edit' or proof_user != '' %}
			<li><span id="action-save-changes" class="button">{{ i18n.t('controls.save_changes') }}</span></li>
			{% else %}
			<li><span id="action-save-draft" class="button">{{ i18n.t('controls.save_as_draft') }}</span></li>
			<li><span id="action-finish" class="button">{{ i18n.t('controls.finish') }}</span></li>
			{% if more_to_proof %}<li><span id="action-finish-continue" class="button">{{ i18n.t('controls.finish_continue') }}</span></li>{% endif %}
			{% endif %}
		</ul>
	</div>

	<input type="hidden" name="item_id" id="item_id" value="{{ item.id }}" />
	<input type="hidden" name="project_slug" id="project_slug" value="{{ project.slug }}" />
	<input type="hidden" name="project_owner" id="project_owner" value="{{ project.owner }}" />
	<input type="hidden" name="project_type" id="project_type" value="{{ project.type }}" />
	<input type="hidden" name="proof_type" id="proof_type" value="{{ proof_type }}" />
	<input type="hidden" name="proof_user" id="proof_user" value="{{ proof_user }}" />
</div>

<div id="characterpad">
	<ul>{% for char in project.characters %}<li>{{ char }}</li>{% endfor %}</ul>
</div>
