	<div id="controls_container" class="controls">
		<div id="controls" class="container">
			<ul id="controls_left">
				<li><a href="{{ app_url }}/users/{{ username }}/dashboard" class="button">Back</a></li>
				<li><a href="{{ app_url }}/projects/{{ item.project_slug }}/guidelines" class="button" target="_blank">Project Guidelines</a></li>
			</ul>
			<ul id="controls_right">
				<li><img src="{{ theme_root }}/images/spinner-dark.gif" id="spinner" /></li>
				<li><span id="action-save-draft" class="button">Save as Draft</span></li>
				<li><span id="action-finish" class="button">Finish</span></li>
				<li><span id="action-finish-continue" class="button">Finish &amp; Continue</span></li>
			</ul>
		</div>
	</div>
