<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />

	<title>Unbindery</title>

	<link rel="shortcut icon" href="{{ theme_root }}/images/favicon.png" />

	<link rel="stylesheet" href="{{ theme_root }}/css/unbindery.css" type="text/css" media="screen" charset="utf-8" />
	{% if css %}{% for cssfile in css %}<link rel="stylesheet" href="{{ theme_root }}/css/{{ cssfile }}" type="text/css" media="screen" charset="utf-8" />
	{% endfor %}{% endif %}

	{% if editor_options['css'] %}
<!-- Custom editor-specific CSS -->
	{% for cssfile in editor_options['css'] %}<link rel="stylesheet" href="{{ theme_root }}/css/{{ cssfile }}" type="text/css" media="screen" charset="utf-8" />
	{% endfor %}
<!-- End custom editor-specific CSS -->
	{% endif %}

	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript" charset="utf-8"></script><![endif]-->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="{{ app_url }}/js/jquery.hotkeys.js"></script>
	{% if js %}{% for jsfile in js %}<script type="text/javascript" src="{{ theme_root }}/js/{{ jsfile }}"></script>
	{% endfor %}{% endif %}

	{% if editor_options['js'] %}
<!-- Custom editor-specific JS -->
	{% for jsfile in editor_options['js'] %}<script type="text/javascript" src="{{ theme_root }}/js/{{ jsfile }}"></script>
	{% endfor %}
<!-- End custom editor-specific JS -->
	{% endif %}

	{% if includes %}{% autoescape false %}{{ includes }}{% endautoescape %}{% endif %}

	<script type="text/javascript">
		var app_url = "{{ app_url }}";
		var theme_root = "{{ theme_root }}";
		{% if username %}var username = "{{ username }}";{% endif %}
{% if methods %}
		var methods = {};
		{% for method in methods %}
methods['{{ method.name }}'] = '{{ method.value }}';
		{% endfor %}
{% endif %}
	</script>

	<script type="text/javascript" src="{{ app_url }}/js/unbindery.js"></script>
</head>
