{% include '_header_shared.html' %}

<body>
	<header>
		<div class="container">
			<div id="logo"><a href="{{ app_url }}/"><img src="{{ theme_root }}/images/logo.jpg" alt="Unbindery" /></a></div>
			<nav>
				<ul>
				{% if user.loggedin %}
					<li>{{ i18n.translate("nav.logged_in_as") }} <span id="username" class="username">{{ username }}</span></li>
					<li><a href="{{ app_url }}/users/{{ username }}/dashboard">{{ i18n.translate("nav.dashboard") }}</a></li>
					<li><a href="{{ app_url }}/projects">{{ i18n.translate("nav.projects") }}</a></li>
					{% if user.admin %}
					<li><a href="{{ app_url }}/admin">{{ i18n.translate("nav.admin") }}</a></li>
					{% endif %}
					<li><a href="{{ app_url }}/settings">{{ i18n.translate("nav.settings") }}</a></li>
					<li><a href="{{ app_url }}/logout">{{ i18n.translate("nav.logout") }}</a></li>
				{% else %}
					<li><a href="{{ app_url }}/signup">{{ i18n.translate("nav.signup") }}</a></li>
					<li><a href="{{ app_url }}/login">{{ i18n.translate("nav.login") }}</a></li>
				{% endif %}
				</ul>
			</nav>
		</div>
	</header>
