{% extends '_base.html' %}

{% block main %}
	<div id="main" class="dashboard container">
		<h2>{{ i18n.t('admin.dashboard.title') }}</h2>

		<div class="content">
			<h3>Latest Work in Your Projects</h3>
			<ul class="items latest-work">
				{% for entry in latest_work %}
				<li>{{ entry.username }} <a href="{{ entry.transcript_url }}">{{ entry.type }}ed</a> <a href="{{ entry.edit_url }}">{{ entry.item.title }}</a>
				<div class="metadata">Project: {{ entry.project.title }} &bull; Date: {{ entry.date_completed }}</div>
				{% endfor %}
			</ul>

			{% if user.role == 'admin' %}
			<h3>User Management</h3>
			<ul class="items users">
			{% for user in users %}
				<li data-username="{{ user.username }}"><span class="itemcontrols"><a href="" class="delete">×</a></span><b>{{ user.username }}</b> &bull; {{ user.role }} &bull; Signed up {{ user.signup_date }}
					<ul class="projects">
					{% for project in user.projects %}
						<li>{{ project.title }}: {{ project.role }} (proofed {{ project.items_proofed }} items{% if 'reviewer' in project.role %}, reviewed {{ project.items_reviewed }} items{% endif %})</li>
					{% endfor %}	
					</ul>
				</li>
			{% endfor %}
			</ul>
			{% endif %}
		</div>

		<div class="sidebar">
			<div class="new-project">
				{% if user.role == 'creator' %}
				<a href="{{ app_url }}/users/{{ user.username }}/projects/new-project" class="button">Create new project</a>
				{% elseif user.role == 'admin' %}
					<a href="{{ app_url }}/projects/new-project" class="button">Create new system project</a>
					<a href="{{ app_url }}/users/{{ user.username }}/projects/new-project" class="button">Create new user project</a>
				{% endif %}
			</div>

			<div class="new-members">
				<h3>Newest Members of Your Projects</h3>
				<ul>
					{% for member in newest_members %}
					<li>{{ member.username }} became {{ member.role }} in {{ member.slug }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
