{% extends '_base.html' %}

{% block main %}
	<div id="main" class="dashboard container">
		<h2>{{ i18n.t('dashboard.title') }}</h2>

		<div class="content">
			<h3>{{ i18n.t('dashboard.proofing_queue') }}</h3>
			<ul class="action_list proof">
				{% if proofing.blankslate %}
				<li class="blankslate">{{ i18n.t('dashboard.welcome', { 'url': app_url ~ '/projects' })|raw }}</li>
				{% endif %}

				{% for item in proofing.items %}
				<li class="item">
					<div class="right_button"><a href="{{ item.editlink }}" class="button light">{{ i18n.t('dashboard.proof') }}</a></div>
					<div class="title"><a href="{{ item.editlink }}">{{ item.title }}</a></div>

					<div class="sub">{{ projects[item.project_slug].title }} &bull; {{ i18n.t('dashboard.item_type', { "type": item.type }) }}</div>
				</li>
				{% endfor %}

				{% for project in proofing.projects %}
				<li class="project">
					<div class="right_button"><img src="{{ theme_root }}/images/spinner.gif" class="spinner" /> <span class="button light getnewitem" data-project-type="{{ projects[project].type }}" data-project-owner="{{ projects[project].owner }}" data-project-slug="{{ projects[project].slug }}">{{ i18n.t('dashboard.get_new_item') }}</span></div>
					<div class="title"><a href="{{ projects[project].link }}">{{ projects[project].title }}</a></div>
				</li>
				{% endfor %}
			</ul>

			{% if reviewing.items|length > 0 or reviewing.projects|length > 0 %}
			<h3>{{ i18n.t('dashboard.reviewing_queue') }}</h3>
			<ul class="action_list review">
				{% for item in reviewing.items %}
				<li class="item">
					<div class="right_button"><a href="{{ item.editlink }}" class="button light">{{ i18n.t('dashboard.review') }}</a></div>
					<div class="title"><a href="{{ item.editlink }}">{{ item.title }}</a></div>

					<div class="sub">{{ projects[item.project_slug].title }}</div>
				</li>
				{% endfor %}

				{% for project in reviewing.projects %}
				<li class="project">
					<div class="right_button"><img src="{{ theme_root }}/images/spinner.gif" class="spinner" /> <span class="button light getnewitem" data-project-type="{{ projects[project].type }}" data-project-owner="{{ projects[project].owner }}" data-project-slug="{{ projects[project].slug }}">{{ i18n.t('dashboard.get_new_item') }}</span></div>
					<div class="title"><a href="{{ projects[project].link }}">{{ projects[project].title }}</a></div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>

		<div class="sidebar">
			{% if projects|length > 0 %}
			<div class="group">
				<h3>{{ i18n.t('dashboard.your_projects') }}</h3>
				<ul class="list">
					{% for project in projects %}
					<li>
						<div class="progress_bar">
							<div class="capsule">
								<div class="percent" style="width: {{ project.percent_proofed }}px;"></div>
							</div> 
							<span>{{ project.percent_proofed }}% {{ i18n.t('dashboard.proofed') }}</span>
							<span>{{ project.percent_reviewed }}% {{ i18n.t('dashboard.reviewed') }}</span>
						</div>

						<div class="title"><a href="{{ project.link }}">{{ project.title }}</a></div>
						{% if project.available_to_proof > 0 %}<div class="sub">{{ i18n.t('dashboard.items_left_to_proof', { 'items': project.available_to_proof }) }}</div>{% endif %}
						{% if project.available_to_review > 0 %}<div class="sub">{{ i18n.t('dashboard.items_left_to_review', { 'items': project.available_to_review }) }}</div>{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			{% if topusers|length > 0 %}
			<div class="group leaderboard">
				<h3>{{ i18n.t('dashboard.top_proofers') }}</h3>
				<ol id="stats">
				{% for topuser in topusers %} 
				<li><label>{{ topuser.username }}</label> <span class="stat">{{ topuser.score }}</span></li>
				{% endfor %}
				</ol>
			</div>
			{% endif %}

			<div class="group">
				<h3>{{ i18n.t('dashboard.recent_history') }}</h3>
				<ul class="list">
					{% if history_count == 0 %}
					<li>{{ i18n.t('dashboard.no_history') }}</li>
					{% endif %}

					{% for entry in history %}
					<li>
						{{ entry.date_completed }}: <a href='{{ entry.editlink }}'>{{ entry.title }}</a>
						<div class="history_projecttitle">{{ i18n.t('dashboard.project') }} {{ entry.project_title }}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
