{% include '_header.html' %}

<section id="page">
	{% include '_editor_controls.html' %}

	<div id="main" class="container">
		<h2>{{ item.title }}</h2>

		<section id="image_container">
			<div class="highlight"></div>
			<img src="{{ app_url }}/media/{{ item.href }}" />
		</section>

		<section id="transcript_container">
			<form id="ub_text">
				<textarea id="transcript">{{ item.transcript }}</textarea>

				<input type="hidden" name="editor_type" id="editor_type" value="page" />
			</form>
		</section>
	</div>
</section>

{% include '_footer.html' %}
