{% extends '_base.html' %}

{% block bodyid %} id="install"{% endblock %}
{% block banner %}{% endblock %}
{% block footer %}{% endblock %}

{% block page %}
<div class="container">
	<div id="install_box" class="box">
		{% if status != 'failed' %}
		<h2>{{ i18n.t('install.title') }}</h2>

		<p>{% if external_login %}{{ i18n.t('install.intro_external')|raw }}{% else %}{{ i18n.t('install.intro')|raw }}{% endif %}</p>

		<form id="install_form" action="{{ app_url }}/install" method="post" accept-charset="utf-8">
			<label>{{ i18n.t('install.admin_username') }}</label>
			<input type="text" id="username" name="username" autocomplete="off" />

			{% if not external_login %}
			<label>{{ i18n.t('install.admin_password') }}</label>
			<input type="password" id="password" name="password" autocomplete="off" />
			{% endif %}

			<div id='error'>{{ i18n.t('install.error') }}</div>

			<input type="submit" value="{{ i18n.t('install.install_unbindery') }}" class="button" />
		</form>
		{% else %}
		<h2>{{ i18n.t('install.failed') }}</h2>

		<ol>
			<li>{{ i18n.t('install.failed.step1') }}</li>
			<li>{{ i18n.t('install.failed.step2') }}</li>
			<li>{{ i18n.t('install.failed.step3') }}</li>
		</ol>
		{% endif %}
	</div>
</div>
{% endblock %}
