{% extends '_base.html' %}

{% block controls %}<div id="scoreboard" class="controls"></div>{% endblock %}

{% block main %}
	<div id="main" class="container add">
		<h2>{% if project.type == 'user' %}{{ i18n.t('admin.new_project.new_user_project') }}{% elseif project.type == 'system' %}{{ i18n.t('admin.new_project.new_system_project') }}{% endif %}</h2>

		<form id="new_project_form" name="new_project_form" action="{{ app_url }}/projects" method="POST">
			<input id="project_owner" name="project_owner" type="hidden" value="{{ username }}" />

			<div class="content">
				<section>
					<label>{{ i18n.t('admin.new_project.title') }}</label>
					<input id="project_name" name="project_name" type="text" placeholder="Project title" />

					<label>{{ i18n.t('admin.new_project.visibility') }}</label>
					<select id="project_public" name="project_public">
						<option value="public">{{ i18n.t('admin.new_project.visibility.public') }}</option>
						<option value="private">{{ i18n.t('admin.new_project.visibility.private') }}</option>
					</select>

					<label>{{ i18n.t('admin.new_project.description') }}</label>
					<textarea id="project_desc" name="project_desc"></textarea>

					<label>{{ i18n.t('admin.new_project.language') }}</label>
					<input id="project_lang" name="project_lang" type="text" value="English" />

					<input type="hidden" name="project_type" value="{{ project.type }}" />

					<input type="submit" value="{{ i18n.t('admin.new_project.create_project') }}" class="button" />
				</section>
			</div>

			<div class="sidebar">
				<p class="instructions">{{ i18n.t('admin.new_project.instructions') }}</p>
			</div>
		</form>
	</div>
{% endblock %}
