{% extends '_base.html' %}

{% block controls %}<div id="scoreboard" class="controls"></div>{% endblock %}

{% block main %}
	<div id="main" class="container add">
		<h2>New {% if project.type == 'user' %} User{% elseif project.type == 'system' %} System{% endif %} Project</h2>

		<form id="new_project_form" name="new_project_form" action="{{ app_url }}/projects" method="POST">
			<input id="project_owner" name="project_owner" type="hidden" value="{{ username }}" />

			<div class="content">
				<section class="active">
					<label>Title</label>
					<input id="project_name" name="project_name" type="text" placeholder="Project title" />

					<label>Visibility</label>
					<select id="project_public" name="project_public">
						<option value="public">Public</option>
						<option value="private">Private</option>
					</select>

					<label>Description</label>
					<textarea id="project_desc" name="project_desc"></textarea>

					<label>Language</label>
					<input id="project_lang" name="project_lang" type="text" value="English" />

					<input type="hidden" name="project_type" value="{{ project.type }}" />

					<input type="submit" value="Create Project" class="button" />
				</section>
			</div>

			<div class="sidebar">
				<p class="instructions">Enter the basic information for your project. On the next page you'll be able to add more metadata and upload items.</p>
			</div>
		</form>
	</div>
{% endblock %}
