{% extends '_base.html' %}

{% block main %}
	<div id="main" class="container">
		{% if user.is_owner %}<div class="adminlink"><a href="{{ app_url }}/projects/{{ project.slug }}/admin">{{ i18n.t('project.edit_link') }}</a></div>{% endif %}

		<h2>{% if project.type == 'user' %}{{ i18n.t('project.user_project_details') }}{% else %}{{ i18n.t('project.system_project_details') }}{% endif %}</h2>

		<div class="content proj_details">
			<div class="project_title">{{ project.title }}{% if not project.public %}{{ i18n.t('project.private') }}{% endif %}</div>

			<ul class="metadata">
				<li><label>{{ i18n.t('project.owner') }}</label> <div>{{ project.owner }}{% if user.is_owner %}{{ i18n.t('project.owner.you') }}{% endif %}</div></li>
				{% if project.num_items %}<li><label>{{ i18n.t('project.num_items') }}</label> <div>{{ project.num_items }}</div></li>{% endif %}
				{% if project.num_proofers %}<li><label>{{ i18n.t('project.num_proofers') }}</label> <div>{{ project.num_proofers }}</div></li>{% endif %}
				{% if project.num_reviewers %}<li><label>{{ i18n.t('project.num_reviewers') }}</label> <div>{{ project.num_reviewers }}</div></li>{% endif %}

				{% if project.description %}<li><label>{{ i18n.t('project.description') }}</label> <div>{{ project.description }}</div></li>{% endif %}
				{% if project.language %}<li><label>{{ i18n.t('project.language') }}</label> <div>{{ project.language }}</div></li>{% endif %}

				{% if project.date_started %}<li><label>{{ i18n.t('project.started') }}</label> <div>{{ project.date_started }}</div></li>{% endif %}
				{% if project.date_completed and project.days_spent %}<li><label>{{ i18n.t('project.completed') }}</label> <div>{{ i18n.t('project.completed_date', { "date": project.date_completed, "num_days": project.days_spent }) }}</li>{% endif %}
				{% if project.date_posted %}<li><label>{{ i18n.t('project.posted') }}</label> <div>{{ project.date_posted }}</div></li>{% endif %}
			</ul>

			{% if project.guidelines %}<div class="guidelines"><h2>{{ i18n.t('project.guidelines') }}</h2> <div>{{ project.guidelines|raw }}</div></div>{% endif %}
		</div>

		<div class="sidebar proj_details">
			<div class="membership"><a class="{% if user.is_member %}leave{% else %}join button{% endif %}" href="{{ app_url }}/projects/{{ project.slug }}/membership">{% if user.is_member %}{{ i18n.t('project.leave') }}{% else %}{{ i18n.t('project.join') }}{% endif %}</a></div>

			<div class="progress_bar big">
				<div class="capsule">
					<div class="percent" style="width: {{ project.percent_complete * 2 }}px;"></div>
				</div> 
				<p>{{ i18n.t('project.percent_complete', { "percent_complete": project.percent_complete, "items_completed": project.items_completed, "num_items": project.num_items }) }}</p>
			</div>

			{% if proofers|length > 0 %}
				<div class="volunteers">
					<h3>{{ i18n.t('project.proofers_on_this_project') }}</h3>
					<ul class="proofers">
					{% for proofer in proofers %}
						<li>
							<div class="progress_bar">
								<div class="capsule">
									<div class="percent" style="width: {{ proofer.percentage }}px;"></div>
								</div> 
								<p>{{ i18n.t('project.user_percentage', { "percentage": proofer.percentage, "num_items": proofer.items }) }}</p>
							</div>
							<div class="username">{{ proofer.username }}</div>
						</li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}

			{% if reviewers|length > 0 %}
				<div class="volunteers">
					<h3>{{ i18n.t('project.reviewers_on_this_project') }}</h3>
					<ul class="reviewers">
					{% for reviewer in reviewers %}
						<li>
							<div class="progress_bar">
								<div class="capsule">
									<div class="percent" style="width: {{ reviewer.percentage }}px;"></div>
								</div> 
								<p>{{ i18n.t('project.user_percentage', { "percentage": reviewer.percentage, "num_items": reviewer.items }) }}</p>
							</div>
							<div class="username">{{ reviewer.username }}</div>
						</li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
