{% extends '_base.html' %}

{% block controls %}
<div id="controls_container" class="controls">
	<div id="controls" class="container">
		<ul id="controls_left">
			<li><a class="button" href="{{ project.url }}/transcript">Download Transcript</a></li>
			<li><a class="button" href="{{ project.url }}/import">Import Transcript</a></li>
		</ul>

		<ul id="controls_right">
			<li><img src="{{ theme_root }}/images/spinner-dark.gif" id="spinner" /></li>
			<li><span id="action-save-project" href="" class="button">Save Project</span></li>
		</ul>
	</div>
</div>{% endblock %}

{% block main %}
	<div id="main" class="container add">
		<h2>Project Admin</h2>

		<form id="project_admin_form" name="project_admin_form" action="{{ project.url }}" method="POST">
			<input id="project_owner" name="project_owner" type="hidden" value="{{ project.owner }}" />
			<input id="project_slug" name="project_slug" type="hidden" value="{{ project.slug }}" />
			<input id="project_type" name="project_type" type="hidden" value="{{ project.type }}" />

			<div class="content">
				<section>
					<h3>Basic Information</h3>

					<label>Title</label>
					<input id="project_name" name="project_name" type="text" value="{{ project.title }}" />

					<label>Visibility</label>
					<select id="project_public" name="project_public">
						<option{% if project.public %} selected{% endif %} value="public">Public</option>
						<option{% if not project.public %} selected{% endif %} value="private">Private</option>
					</select>

					<label>Description</label>
					<textarea id="project_desc" name="project_desc">{{ project.description }}</textarea>

					<label>Language</label>
					<input id="project_lang" name="project_lang" type="text" value="{{ project.language }}" />

					<label>Status</label>
					<select id="project_status" name="project_status">
						<option{% if project.status == 'pending' %} selected{% endif %} value="pending">Pending</option>
						<option{% if project.status == 'active' %} selected{% endif %} value="active">Active</option>
						<option{% if project.status == 'completed' %} selected{% endif %} value="completed">Completed</option>
					</select>
				</section>

				<section class="hidden">
					<h3>Proofing fields</h3>

					<p>These are fields users will fill in while proofing items for this project.</p>

					<ul class="fields">
						<li><a class="delete">×</a><label>Confidence</label> <input name="project_fields[]" type="text" value="dropdown('Full', 'Some', 'Not much')" /></li>
					</ul>

					<label>New field name</label>
					<input id="new_field_name" name="new_field_name" type="text" />

					<label>New field type</label>
					<input id="new_field_type" name="new_field_type" type="text" />

					<input id="project_fields" name="project_fields" type="hidden" value="" />
					<input type="button" value="Add field" class="button light" />

					<p class="small">Possible values: "text", "dropdown('option1', option2')"</p>
				</section>
			</div>

			<div class="sidebar">
				{% if not project.public %}
				<section>
					<h3>Whitelist (if applicable)</h3>

					<label>One username per line.</label>
					<textarea id="project_whitelist" name="project_whitelist">{% for entry in project.whitelist %}{{ entry }}
{% endfor %}</textarea>
				</section>
				{% endif %}

				<section>
					<h3>Workflow</h3>

					<label>Workflow string</label>
					<input id="project_workflow" name="project_workflow" type="text" value="{{ project.workflow }}"/>
				</section>

				<section>
					<h3>Final Transcript</h3>

					<label>Download Template</label>	
					<textarea id="project_download_template" name="project_download_template">{{ project.download_template }}</textarea>
				</section>
			</div>
		</form>

		<section class="items">
			<div class="content">
				<h3>Items</h3>

				<ul class="items">
					{% for item in project.items %}
					<li data-id="{{ item.id }}" class="{{ item.status }} {{ item.type }}"><span class="itemcontrols"><a href="" class="delete">×</a></span><a href="{{ project.url }}/items/{{ item.id }}/edit">{{ item.title }}</a> <span class="status">{{ item.type }} &bull; {{ item.status }}</span>
						{% for proof in item.proofs %}
						<p class="transcript">Proofed by <a href="{{ project.url }}/items/{{ item.id }}/proof/{{ proof.user }}">{{ proof.user }}</a> ({{ proof.date_completed }})</p>
						{% endfor %}
						{% for review in item.reviews %}
						<p class="transcript">Reviewed by <a href="{{ project.url }}/items/{{ item.id }}/review/{{ review.user }}">{{ review.user }}</a> ({{ review.date_completed }})</p>
						{% endfor %}
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="sidebar">
				<section id="uploadarea">
					<img src="{{ theme_root }}/images/spinner.gif" id="uploadspinner" class="spinner" />
					<input id="file_upload" name="file_upload" type="file" />
				</section>
			</div>
		</section>
	</div>
{% endblock %}
