{% extends '_base.html' %}

{% block main %}
	<div id="main" class="container">
		<h2>Projects{% if type == 'user' %} owned by {{ owner }}{% endif %}</h2>

		<div class="content">
			{% if type == 'system' %}
			<h3 class="action_header projects">Your Projects</h3>
			<ul class="action_list projects">
				{% for project in userprojects %}
				<li class="project">
					<div class="progress_bar">
						<div class="capsule">
							<div class="percent" style="width: {{ project.percentage }}px;"></div>
						</div> 
						<span>{{ project.percentage }}%</span>
					</div>

					<div class="title"><a href="{{ project.link }}">{{ project.title }}</a></div>
					<div class="owner">Owner: {{ project.owner }}</div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}

			<h3 class="action_header projects">Available Projects</h3>
			<ul class="action_list projects">
				{% for project in projects %}
				<li class="project">
					<div class="progress_bar">
						<div class="capsule">
							<div class="percent" style="width: {{ project.percentage }}px;"></div>
						</div> 
						<span>{{ project.percentage }}%</span>
					</div>

					<div class="title"><a href="{{ project.link }}">{{ project.title }}</a></div>
					<div class="owner">Owner: {{ project.owner }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>

		{% if completedprojects|length > 0 %}
		<div class="sidebar">
			<h3>Completed Projects</h3>
			<ul class="projects">
			{% for project in completedprojects %}
				<li>
					<a href="{{ project.link }}">{{ project.title }}</a>
					<div class="sub">Completed {{ project.date_completed }}</div>
				</li>
			{% endfor %}
			</ul>	
		</div>
		{% endif %}
	</div>
{% endblock %}
