{% include '_header.html' %}

<section id="page" class="add">
	<div id="scoreboard" class="controls"></div>

	<div id="main" class="container">
		<h2>Edit Project</h2>

		<form id="new_project_form" name="new_project_form" action="{{ app_url }}/projects" method="POST">
			<input id="project_owner" name="project_owner" type="hidden" value="{{ username }}" />

			<div class="content">
				<section id="step_1" class="step active">
					<h3>Step 1: Basic information</h3>

					<label>Title</label>
					<input id="project_name" name="project_name" type="text" value="{{ project.title }}" />

					<label>Type</label>
					<select id="project_type" name="project_type">
						<option></option>
						<option{% if project.type == 'public' %}selected{% endif %} value="public">Public</option>
						<option{% if project.type == 'private' %}selected{% endif %} value="private">Private</option>
					</select>

					<label>Description</label>
					<textarea id="project_desc" name="project_desc">{{ project.description }}</textarea>

					<label>Language</label>
					<input id="project_lang" name="project_lang" type="text" value="{{ project.language }}" />

					Metadata goes here
				</section>

				<section id="step_2" class="step active">
					<h3>Step 2: Proofing fields</h3>

					<p>These are fields users will fill in while proofing items for this project.</p>

					<ul class="fields">
						<li><a class="delete">×</a><label>Confidence</label> <input name="project_fields[]" type="text" value="dropdown('Full', 'Some', 'Not much')" /></li>
					</ul>

					<label>New field name</label>
					<input id="new_field_name" name="new_field_name" type="text" />

					<label>New field type</label>
					<input id="new_field_type" name="new_field_type" type="text" />

					<input id="project_fields" name="project_fields" type="hidden" value="" />
					<input type="button" value="Add field" class="button light" />

					<p class="small">Possible values: "text", "dropdown('option1', option2')"</p>
				</section>

				<section id="step_3" class="step">
					<h3>Step 3: Workflow</h3>

					<label>Workflow string</label>
					<input id="project_workflow" name="project_workflow" type="text" value="{{ project.workflow }}"/>
				</section>

				<section id="step_4" class="step">
					<h3>Step 4: User whitelist (if applicable)</h3>

					<label>One username per line.</label>
					<textarea id="project_whitelist" name="project_whitelist">{{ project.whitelist }}</textarea>
				</section>

				<section class="step">
					<input type="submit" value="Save Project" class="button light" />
				</section>
			</div>

			<div class="sidebar">
				<input type="submit" value="Save Project" class="button light" />
			</div>
		</form>
	</div>
</section>

{% include '_footer.html' %}
