{% extends '_base.html' %}

{% block main %}
	<div id="main" class="container">
		<h2>{% if project.type == 'user' %}User {% endif %}Project Details</h2>

		<div class="content proj_details">
			<div class="project_title">{{ project.title }}{% if not project.public %} (private){% endif %}</div>

			<ul class="metadata">
				<li><label>Owner:</label> <div>{{ project.owner }}{% if user.is_owner %} (you){% endif %}</div></li>
				{% if project.num_items %}<li><label># Items:</label> <div>{{ project.num_items }}</div></li>{% endif %}

				{% if project.description %}<li><label>Description:</label> <div>{{ project.description }}</div></li>{% endif %}
				{% if project.language %}<li><label>Language:</label> <div>{{ project.language }}</div></li>{% endif %}

				{% if project.date_started %}<li><label>Started:</label> <div>{{ project.date_started }}</div></li>{% endif %}
				{% if project.date_completed and project.days_spent %}<li><label>Completed:</label> <div>{{ project.date_completed }} ({{ project.days_spent }} days)</div></li>{% endif %}
				{% if project.date_posted %}<li><label>Posted:</label> <div>{{ project.date_posted }}</div></li>{% endif %}
				{% if project.thumbnails %}<li>
					<label>Preview:</label>
					<div>
						<ul class="thumbnails">
							{% for thumbnail in project.thumbnails %}
							<li><img src="{{ app_url }}/media/{{ project.slug }}/thumbnails/{{ thumbnail }}" /></li>
							{% endfor %}
						</ul>
					</div>
				</li>{% endif %}
			</ul>

			{% if project.guidelines %}<div class="guidelines"><h2>Guidelines</h2> <div>{{ project.guidelines|raw }}</div></div>{% endif %}
		</div>

		<div class="sidebar proj_details">
			{% if user.is_owner %}<div class="adminlink"><a href="{{ app_url }}/projects/{{ project.slug }}/admin">Edit project &rarr;</a></div>{% endif %}

			<div class="membership"><a class="{% if user.is_member %}leave{% else %}join button{% endif %}" href="{{ app_url }}/projects/{{ project.slug }}/membership">{% if user.is_member %}Leave this project{% else %}Join this project{% endif %}</a></div>

			<div class="progress_bar big">
				<div class="capsule">
					<div class="percent" style="width: {{ project.percentage * 2 }}px;"></div>
					<div class="percent_proofs" style="width: {{ project.proof_percentage * 2 }}px;"></div>
				</div> 
				<p>Proofed: {{ project.proof_percentage_rounded }}% ({{ project.proofed }}/{{ project.total_proofs }})</p>
				<p>Completed: {{ project.percentage_rounded }}% ({{ project.completed }}/{{ project.total }})</p>
			</div>

			{% if proofers|length > 0 %}
				<div class="volunteers">
					<h3>Proofers on This Project</h3>
					<ul class="proofers">
					{% for proofer in proofers %}
						<li>
							<div class="progress_bar">
								<div class="capsule">
									<div class="percent" style="width: {{ proofer.percentage }}px;"></div>
								</div> 
								<p>{{ proofer.percentage }}% ({{ proofer.items }} items)</p>
							</div>
							<div class="username">{{ proofer.username }}</div>
						</li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}

			{% if reviewers|length > 0 %}
				<div class="volunteers">
					<h3>Reviewers on This Project</h3>
					<ul class="reviewers">
					{% for reviewer in reviewers %}
						<li>
							<div class="progress_bar">
								<div class="capsule">
									<div class="percent" style="width: {{ reviewer.percentage }}px;"></div>
								</div> 
								<p>{{ reviewer.percentage }}% ({{ reviewer.items }} items)</p>
							</div>
							<div class="username">{{ reviewer.username }}</div>
						</li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
