{% extends '_base.html' %}

{% block main %}
	<div id="main" class="container">
		<h2>{% if type == 'user' %}{{ i18n.t('projects.title_owned_by', { 'owner': owner }) }}{% else %}{{ i18n.t('projects.title') }}{% endif %}</h2>

		<div class="content">
			{% if type == 'system' %}
			<h3 class="action_header projects">{{ i18n.t('projects.your_projects') }}</h3>
			<ul class="action_list projects">
				{% for project in user_projects %}
				<li class="project{% if not project.public %} private{% endif%}">
					<div class="progress_bar">
						<div class="capsule">
							<div class="percent" style="width: {{ project.percentage }}px;"></div>
						</div> 
						<span>{{ i18n.t('projects.project.percentage', { 'percentage': project.percentage }) }}</span>
					</div>

					<div class="title"><a href="{{ project.link }}">{{ project.title }}</a></div>
					<div class="owner">{{ i18n.t('projects.project.owner', { 'owner': project.owner }) }} &bull; {{ i18n.t('projects.project.items', { 'items': project.total_items }) }}{% if project.adminlink %} &bull; <a href="{{ app_url }}/projects/{{ project.slug }}/admin">{{ i18n.t('project.edit_link')|raw }}</a>{% endif %}</div>
				</li>
				{% else %}
				<li class="project">{{ i18n.t('projects.no_projects') }}</li>
				{% endfor %}
			</ul>
			{% endif %}

			{% if available_projects|length > 0 %}
			<h3 class="action_header projects">{{ i18n.t('projects.available_projects') }}</h3>
			<ul class="action_list projects">
				{% for project in available_projects %}
				<li class="project{% if not project.public %} private{% endif%}">
					<div class="progress_bar">
						<div class="capsule">
							<div class="percent" style="width: {{ project.percentage }}px;"></div>
						</div> 
						<span>{{ i18n.t('projects.project.percentage', { 'percentage': project.percentage }) }}</span>
					</div>

					<div class="title"><a href="{{ project.link }}">{{ project.title }}</a></div>
					<div class="owner">{{ i18n.t('projects.project.owner', { 'owner': project.owner }) }} &bull; {{ i18n.t('projects.project.items', { 'items': project.total_items }) }}</div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>

		{% if completed_projects|length > 0 %}
		<div class="sidebar">
			<h3>{{ i18n.t('projects.completed_projects') }}</h3>
			<ul class="projects">
			{% for project in completed_projects %}
				<li>
					<a href="{{ project.link }}">{{ project.title }}</a>
					<div class="sub">{{ i18n.t('projects.project.completed', { 'date': project.date_completed }) }}</div>
				</li>
			{% endfor %}
			</ul>	
		</div>
		{% endif %}
	</div>
{% endblock %}
