/* Editor: Audio */
/* --------------------------------------------------- */

#main h2					{ text-align: center; }

#audio_container			{ width: 100%; margin: 1em 0 2em; text-align: center; }
#audio_container .mejs-container	{ margin: 0px auto; }

audio#audio 				{ width: 400px; }

#transcript_container		{ width: 70%; margin: 0px auto; }

textarea#transcript			{ width: 100%; height: 200px; font-size: 28px; line-height: 1.4em; font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", Monaco, Courier, sans-serif; padding: 10px; border: solid 1px #999; border-radius: 3px; }

#main small					{ display: block; margin-top: 10px; font-size: .9em; color: #999; }
#main small ul				{ width: 70%; margin: 0px auto; padding-left: 0; list-style: none; -webkit-column-count: 3; -webkit-column-gap: 20px; -moz-column-count: 3; -moz-column-gap: 20px; column-count: 3; column-gap: 20px; }

#fields_container						{ margin-top: 1em; }
#fields_container label:not(.radio)		{ float: left; margin-right: 15px; width: 150px; }
#fields_container input[type=text]		{ width: 150px; font-size: 1em; }
#fields_container .field_group			{ margin-bottom: 7px; }
