/* Editor: Page Image */
/* --------------------------------------------------- */

#image_container						{ width: 100%; height: 300px; overflow: scroll; margin: 1em 0 2em; border: solid 1px #999; }
#image_container img					{ width: 100%; }

#transcript_container					{ width: 80%; margin: 0px auto; }

textarea#transcript						{ width: 100%; height: 200px; font-size: 28px; line-height: 1.4em; font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", Monaco, Courier, sans-serif; padding: 10px; border: solid 1px #999; border-radius: 3px; }
textarea#transcript:focus				{ outline: none; }

#image_container .highlight				{ background: rgba(0, 30, 80, 0.5); width: 100%; height: 10px; position: relative; z-index: 500; top: 455px; display: none; }

#fields_container						{ margin-top: 1em; }
#fields_container label:not(.radio)		{ float: left; margin-right: 15px; width: 150px; }
#fields_container input[type=text]		{ width: 150px; font-size: 1em; }
#fields_container .field_group			{ margin-bottom: 7px; }


/* Side-by-side mode */
/* --------------------------------------------------- */

.sidebyside								{ overflow: hidden; }

.sidebyside #image_container			{ width: 48%; height: 600px; float: left; margin-right: 4%; }

.sidebyside #transcript_container		{ width: 48%; float: left; margin: 1em 0 2em; }
.sidebyside textarea#transcript			{ height: 600px; }
