/* Editor: Audio */
/* --------------------------------------------------- */

#audio_container			{ width: 100%; margin: 1em 0 2em; }

audio#audio 				{ width: 100%; }

#transcript_container		{ width: 70%; height: 200px; margin: 0px auto; }

textarea#transcript			{ width: 100%; height: 200px; font-size: 16px; line-height: 1.4em; font-family: "Lucida Grande", "Lucida Sans Unicode", Monaco, Courier, sans-serif; padding: 10px; border: solid 1px #999; border-radius: 3px; }

#main small					{ display: block; margin-top: 10px; font-size: .9em; color: #999; }
#main small ul				{ width: 70%; margin: 0px auto; padding-left: 0; list-style: none; -webkit-column-count: 3; -webkit-column-gap: 20px; -moz-column-count: 3; -moz-column-gap: 20px; column-count: 3; column-gap: 20px; }
