/* Unbindery CSS */
/* --------------------------------------------------- */

*										{ -moz-box-sizing: border-box; box-sizing: border-box; }

body									{ margin: 0; padding: 0; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 12px; }
body#index								{ background: #22435f url(../images/indexbg.jpg) 50% 0 no-repeat; }
body.dark								{ background: #111; color: #fff; }

.container								{ max-width: 950px; width: 92%; margin: 0px auto; overflow: hidden; clear: both; }


/* Header */
/* --------------------------------------------------- */

body > header							{ background: url(../images/bannerbg.jpg); color: #fff; height: 63px; overflow: hidden; border-bottom: solid 10px #000; }

#logo									{ float: left; }
#logo img								{ border: none; }
#logo h1								{ font-size: 16px; color: #666; line-height: 1em; margin-top: 8px; text-indent: -1000em; }


/* Nav */
/* --------------------------------------------------- */

nav ul									{ float: right; list-style: none; margin-top: 30px; }
nav ul li								{ display: inline; margin-left: 15px; color: #5d92b1; font-size: 11px; }
nav ul li a								{ color: #fff; font-weight: bold; text-decoration: none; }
nav ul li .username						{ font-weight: bold; }


/* Scoreboard */
/* --------------------------------------------------- */

#scoreboard ul							{ list-style: none; padding: 0; margin-bottom: 0; }
#scoreboard ul li						{ display: inline-block; margin-right: 20px; padding-right: 20px; border-right: solid 1px #333; }
#scoreboard ul li:last-child			{ margin-right: 0; padding-right: 0; border-right: none; }

#scoreboard label						{ font-size: 11px; color: #555; text-transform: uppercase; display: block; font-weight: bold; text-shadow: 0 1px #000; }
#scoreboard .stat						{ font-size: 1.3em; font-weight: bold; display: block; margin-top: 3px; color: #999; text-shadow: 0 1px #000; }


/* Controls */
/* --------------------------------------------------- */

.controls								{ background: #222; padding: 7px 0 8px; border-bottom: solid 1px #999; }

#controls_container.review				{ background: url(../images/review_bg.png) repeat-x; }

#controls_container ul li a				{ display: inline-block; }
#controls_container ul li span			{ display: inline-block; }

ul#controls_left						{ float: left; list-style: none; padding: 0; margin: 0; }
ul#controls_left li						{ display: inline-block; margin-right: 5px; }

ul#controls_right						{ float: right; list-style: none; padding: 0; margin: 0; }
ul#controls_right li					{ display: inline-block; margin-left: 5px; }

.button									{ padding: 5px 7px 6px; background: #444; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#444)); background: -moz-linear-gradient(white, #ccc); -moz-border-radius: 3px; border-radius: 3px; color: #fff; font-weight: bold; text-decoration: none; border: solid 1px #111; text-shadow: 0 1px #000; }
.button:hover							{ background: #345678; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547698), to(#345678)); background: -moz-linear-gradient(#547698, #345678); cursor: pointer; }

.button.light							{ background: #ddd; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#ccc)); background: -moz-linear-gradient(white, #ccc); color: #000; border: solid 1px #999; text-shadow: 0 1px #fff; }
.button.light:hover						{ background: #fff; cursor: pointer; }

.smallbutton							{ padding: 1px 3px; font-size: .9em; }


/* Main page area */
/* --------------------------------------------------- */

#page									{ }

#main									{ padding: 3em 0 1em; margin-bottom: 75px; }
#main h2								{ font-size: 21px; color: #aaa; margin: 0; letter-spacing: -0.03em; }

.content								{ width: 60%; margin-right: 10%; float: left; margin-top: 20px; }
.sidebar								{ width: 30%; float: left; margin-top: 20px; }


/* Page editor */
/* --------------------------------------------------- */

#image_container						{ width: 100%; height: 300px; overflow: scroll; margin: 1em 0 2em; border: solid 1px #999; }

#text_container							{ width: 70%; height: 200px; margin: 0px auto; }


/* Sidebar */
/* --------------------------------------------------- */

.sidebar ul								{ padding: 0; list-style: none; margin: 0; margin-bottom: 2em; }
.sidebar ul li							{ padding: 7px 0; border-bottom: solid 1px #999; }
.sidebar ul li:last-child				{ border-bottom: none; }


/* Percentage bar */
/* --------------------------------------------------- */

.progress_bar							{ font-size: 10px; color: #666; clear: both; float: right; }
.progress_bar span						{ line-height: 1em; vertical-align: top; display: block; text-align: right; margin-top: 2px; }

.capsule								{ width: 100px; border: solid 1px #666; -moz-border-radius: 3px; border-radius: 3px; height: 12px; display: inline-block; }

.percent								{ background: #000; height: 10px; float: left; z-index: 50; }
.percent_proofs							{ background: #ccc; height: 10px; z-index: -1; }

.big.progress_bar						{ font-size: 12px; clear: both; overflow: hidden; margin-bottom: 30px; }

.big .capsule							{ width: 200px; height: 22px; }
.big .percent							{ height: 20px; }
.big .percent_proofs					{ height: 20px; }


.group + .group							{ margin-top: 2em; }
.group:last-child						{ margin-right: 0; }
.group h3								{ margin: 0; font-size: 12px; color: #5d92b1; }

.group ul								{ padding: 0; list-style: none; margin: 0; margin-bottom: 2em; }
.group ul li							{ padding: 7px 0; border-bottom: solid 1px #999; overflow: hidden; }
.group ul li:last-child					{ border-bottom: none; }
.group ul.list							{ background: #eee; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-top: 7px; }

.group ul.list li						{ padding: 6px 5px; font-size: 11px; overflow: hidden; clear: both; }
.group ul.list li .project_title		{ width: 270px; line-height: 1.4em; }
.group ul.list li a						{ font-weight: bold; color: #337; text-decoration: none; border-bottom: dotted 1px #333; font-size: 11px; }

.group ul.list li .percentage			{ float: right; margin-left: 15px; }
.group ul.list li .perproject_stats		{ margin-top: 3px; color: #666; }

.group ul.list li .history_projecttitle	{ margin-top: 3px; color: #999; }

.group.half								{ width: 400px; float: left; margin-right: 25px; }


/* Leaderboard */
/* --------------------------------------------------- */

.leaderboard ol							{ padding-left: 35px; }
.leaderboard ol li						{ margin-bottom: 5px; border-bottom: solid 1px #ddd; padding-bottom: 5px; font-size: 1.2em; font-weight: bold; color: #999; }
.leaderboard ol li:first-child:after	{ content: ' ★'; }
.leaderboard ol li label				{ color: #000; }
.leaderboard ol li .stat				{ float: right; color: #999; }


/* Dashboard */
/* --------------------------------------------------- */

.content h3								{ margin: 3em 0 0; color: #5d92b1; padding: 0 0 3px 0; font-size: 1em; }
.content h3:first-child					{ margin-top: 0; }

ul.action_list							{ list-style: none; margin: 0; padding: 0; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; }
ul.action_list li						{ border-bottom: solid 1px #ddd; padding: 6px 0; clear: both; overflow: hidden; }
ul.action_list li:last-child			{ border-bottom: none; }
ul.action_list li .title				{ font-size: 1.2em; font-weight: bold; }
ul.action_list li .title a				{ color: #000; text-decoration: none; border-bottom: dotted 1px #999; line-height: 1.4em; }
ul.action_list li .deadline				{ font-size: .6em; color: #999; margin-left: 5px; }
ul.action_list li .impending			{ color: #f99; }
ul.action_list li .overdue				{ color: #f00; font-weight: bold; font-size: .9em; }

ul.action_list li .right_button			{ float: right; padding-top: 8px; }
ul.action_list li .button				{ font-size: 1.2em; }

ul.action_list li.blankslate a			{ color: #000; text-decoration: none; border-bottom: dotted 1px #999; font-weight: bold; }

ul.action_list.projects li:last-child	{ background: #345; }

ul.action_list.projects .percentage		{ margin-top: 3px; }

.sub									{ margin-top: 4px; font-size: .9em; color: #666; }

.item .sub								{ margin-bottom: 4px; }

ul.action_list .project					{ background: #f5f5f5; padding: 5px 5px 5px 7px; }
ul.action_list .project .title			{ font-size: 1.1em; }
ul.action_list .project .title a		{ color: #345678; }
ul.action_list .project .button			{ font-size: 1em; }

#message								{ background: #444; color: #fff; padding: 10px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
#error									{ background: rgba(255, 0, 0, 0.3); color: #600; border: solid 1px #daa; border-top: none; padding: 10px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

body#index #message						{ width: 400px; background: rgba(0, 0, 0, 0.3); color: #fff; padding: 15px; border: solid 2px #000; border-top: none; }

#spinner								{ display: none; vertical-align: middle; }
.spinner								{ display: none; vertical-align: middle; }

#project_form							{ padding-top: 5px; }
#project_form label						{ display: block; font-weight: bold; margin-top: 18px; margin-bottom: 2px; }
#project_form input						{ display: block; }
#project_form input[type="text"]		{ font-size: 1em; }
#project_form input[type="submit"]		{ margin-top: 2em; }
#project_form textarea					{ display: block; font-size: 1em; padding: 3px; width: 450px; height: 60px; }

#project_form #project_title			{ width: 300px; }
#project_form #project_slug				{ width: 50px; }
#project_form #project_deadline			{ width: 30px; }
#project_form #project_numproofs		{ width: 30px; }

#uploadcol								{ width: 350px; float: left; margin-right: 50px; margin-top: 20px; }
#file_uploadQueue						{ width: 350px; }
.uploadifyQueueItem						{ width: 350px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important; font-size: 11px !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.uploadifyQueueItem .percentage			{ font-weight: bold; }

.uploadifyProgressBar					{ height: 10px !important; }

#items									{ width: 423px; float: left; border-left: solid 1px #ccc; padding-left: 25px; margin-top: 20px; }
#save_items								{ display: none; }
#save_items label						{ font-weight: bold; margin-bottom: 5px; display: block; }
#save_items textarea					{ font-size: 1em; width: 400px; height: 100px; margin-bottom: 2em; }


/* Index page */
/* --------------------------------------------------- */

#index .container						{ width: 300px; margin: 100px auto; }
#logo_box								{ }

.box									{ background: rgba(0, 0, 0, 0.3); padding: 25px 30px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.box h2									{ margin: 0; margin-bottom: 10px; font-size: 14px; color: #fff; }
.box label								{ color: #5d92b1; font-size: 11px; text-transform: uppercase; }
.box input[type="text"]					{ display: block; font-size: 1.3em; font-weight: bold; background: #fff; border: solid 1px #999; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 5px; width: 230px; margin: 3px 0 7px; }
.box input[type="password"]				{ display: block; font-size: 1.3em; font-weight: bold; background: #fff; border: solid 1px #999; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 5px; width: 230px; margin: 3px 0 15px; }
.box input[type="submit"]				{ font-size: 1.2em; }

.box span								{ color: #7db2d1; margin-left: 10px; border-bottom: dotted 1px #5d92b1; }
.box span:hover							{ cursor: pointer; }

.box #thankyou							{ color: #fff; line-height: 1.4em; }


/* Settings page */
/* --------------------------------------------------- */

#user_settings label					{ display: block; }
#user_settings input[type="text"],
	#user_settings input[type="password"]	{ margin-bottom: 15px; font-size: 1.2em; font-weight: bold; padding: 3px; }
#user_settings input[type="text"]		{ width: 300px; }
#user_settings input[type="password"]	{ width: 240px; }
#user_settings input[type="submit"]		{ display: block; margin-top: 15px; }


/* Project details page */
/* --------------------------------------------------- */

.proj_details .project_title			{ font-size: 1.4em; font-weight: bold; margin-bottom: 3px; }
.proj_details .project_author			{ font-size: 1.2em; line-height: 1.5em; color: #999; margin-bottom: .5em; }
.proj_details .project_desc				{ font-size: 1.1em; line-height: 1.5em; margin-bottom: 1em; }

.proj_details ul.project_dates			{ margin-bottom: 2em; font-size: .9em; color: #999; padding-left: 25px; }
.proj_details ul.project_dates li		{ line-height: 1.4em; }
.proj_details ul.project_dates label	{ font-weight: bold; color: #000; }

.proj_details .join						{ font-size: 1.1em; }
.proj_details div.join_button			{ clear: both; overflow: hidden; margin-bottom: 3em; }
.proj_details .right_button				{ float: right; }


/* Thumbnails (project details page) */
/* --------------------------------------------------- */

ul.thumbnails							{ list-style: none; padding: 0; }
ul.thumbnails li						{ border: solid 1px #ddd; display: inline-block; margin-right: 10px; }


/* Footer */
/* --------------------------------------------------- */

body > footer							{ border-top: dotted 1px #ccc; padding: 8px 0; font-size: .9em; color: #bbb; margin-bottom: 100px; }
body > footer a							{ color: #aaa; font-weight: bold; text-decoration: none; }
body > footer a:hover					{ text-decoration: underline; }


/* Project Guidelines */
/* --------------------------------------------------- */

a.guidelines_link						{ color: #000; border-bottom: dotted 1px #666; text-decoration: none; font-weight: bold; }
.proj_guidelines .project_title			{ font-size: 1.4em; font-weight: bold; margin-bottom: 0em; }

.proj_guidelines h2						{ color: #3d7291 !important; margin-top: 3em; text-transform: none !important; font-size: 14px !important; }
.proj_guidelines h3						{ color: #3d7291; margin: 1.5em 0 0 0; padding: 1.5em 0 0 0; border-top: dotted 1px #999; font-size: 12px; }
.proj_guidelines pre, .proj_guidelines code		{ background: #eee; padding: 5px; font-family: Monaco, Courier, monospace; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.proj_guidelines pre					{ margin-left: 35px; }
.proj_guidelines a						{ color: #000; text-decoration: none; border-bottom: dotted 1px #666; }


/* Admin */
/* --------------------------------------------------- */

#main label								{ font-weight: bold; color: #345678; }
#main input[type="text"], input[type="password"]	{ width: 250px; border: solid 1px #bbb; padding: 3px; font-weight: bold; font-size: 1.2em; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#main textarea							{ border: solid 1px #bbb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 3px; }

#main.edit #metadata					{ overflow: hidden; clear: both; margin-bottom: 1.5em; }

#main.edit #image_container				{ width: 400px; height: 500px; overflow: scroll; border: solid 1px #999; float: left; margin-right: 50px; }
#main.edit #text_container				{ width: 398px; height: 500px; margin: 0; float: left; }

#main.edit textarea#page_text			{ width: 354px; height: 480px; }

#controls input.button					{ font-size: 1em; margin-top: -6px; display: inline !important; }

ul.items								{ list-style: none; padding-left: 0; }
ul.items li								{ padding: 7px 0; border-top: solid 1px #ddd; }
ul.items li h4							{ margin: 0; margin-right: 15px; font-weight: bold; color: #345678; display: inline-block; }
ul.items li .status						{ width: 90px; margin-right: 10px; display: inline-block; font-size: .9em; }
ul.items li .status.completed			{ color: #999; }
ul.items li .status.assigned			{ color: #009; }
ul.items li .status.available			{ color: #090; }
ul.items li a.assignment				{ background: #ddd; font-size: 10px; font-weight: bold; padding: 3px 8px; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; text-decoration: none; }
ul.items li a.assignment:hover			{ text-decoration: underline; }
ul.items li a.assignment.done			{ color: #fff; background: #444; }



/* Project Details */
/* --------------------------------------------------- */

ul.proofers li							{ clear: both; overflow: hidden; border-bottom: solid 1px #ccc; }
ul.proofers .username					{ font-size: 11px; }

.sidebar ul.projects li a						{ font-size: 11px; color: #000; text-decoration: none; border-bottom: dotted 1px #666; font-weight: bold; }

.sidebar h3								{ margin: 0; font-size: 12px; color: #5d92b1; }
.content h4								{ color: #5d92b1; }


/* Editor */
/* --------------------------------------------------- */

/* General */
#page_text								{ width: 100%; height: 230px; border: solid 1px #999; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* For the textarea ("simple") */
textarea#page_text						{ height: 200px; font-size: 16px; line-height: 1.4em; font-family: "Lucida Grande", "Lucida Sans Unicode", Monaco, Courier, sans-serif; padding: 10px; }

/* For the Ace editor ("advanced") */
.ace_editor								{ font-size: 16px !important; font-family: Monaco, Menlo, Courier, monospace !important; }

.ace-unbindery .ace_content				{ padding-left: 10px !important; padding-right: 10px !important; width: 630px !important; }
.ace-unbindery .ace_scroller			{ overflow-x: hidden !important; }
.ace-unbindery .ace_gutter				{ color: #999 !important; background: #eee !important; border-right: none !important; width: 30px !important; }
.ace-unbindery .ace_gutter-layer		{ right: 6px !important; }
.ace-unbindery .ace_marker-layer .ace_active_line	{ background: #fff !important; }


/* New project */
/* --------------------------------------------------- */

#page.add .step							{ border-bottom: dotted 1px #999; padding-top: 2.5em; padding-bottom: 2.5em; overflow: hidden; clear: both; }

#page.add .step h3						{ font-size: 1.3em; margin-bottom: 1em; }

#page.add .step label,
	#page.add .step select,
	#page.add .step input				{ display: block; }

#page.add .step label					{ margin-top: 1em; }
#page.add .step textarea				{ width: 100%; height: 75px; font-size: 1em; padding: 3px; }

#page.add .step ul.fields				{ list-type: none; padding-left: 0; font-size: .9em; }
#page.add .step ul.fields li			{ padding: 5px 8px; -moz-border-radius: 1em; border-radius: 1em; background: #eee; margin-bottom: 5px; border: dotted 1px #ccc; }

#page.add .step ul.fields li label		{ display: inline-block; margin-right: 15px; }
#page.add .step ul.fields li input		{ display: inline-block; }

#page.add .step a.delete				{ float: right; color: #999; }
#page.add .step a.delete:hover			{ cursor: pointer; color: #000; }

#page.add .step ul.draggable			{ list-type: none; padding-left: 0; }
#page.add .step ul.draggable li			{ padding: 5px 8px; font-weight: bold; background: #eee; border: dotted 1px #ccc; margin-bottom: 5px; -moz-border-radius: 1em; border-radius: 1em; }

p.small									{ font-size: .95em; color: #999; }
