{% extends '_base.html' %}

{% block controls %}{% include '_editor_controls.html' %}{% endblock %}

{% block main %}
	<div id="main" class="container">
		<h2>{% if proof_type == 'edit' %}Edit {% endif %}{{ item.title }} / {{ project.title }}{% if proof_user %} (@{{ proof_user }}){% endif %}</h2>
		{% if user.prefs.sidebyside %}
		<div class="sidebyside">
		{% endif %}
		<section id="image_container">
			<div class="highlight"></div>
			<img src="{{ app_url }}/media/{{ item.href }}" />
		</section>

		<section id="transcript_container">
			<form id="ub_text">
				<textarea id="transcript">{{ item.transcript }}</textarea>

				<input type="hidden" name="editor_type" id="editor_type" value="page" />
			</form>
			{% include '_fields.html' %}
		</section>

		{% if user.prefs.sidebyside %}
		</div>
		{% endif %}
	</div>
{% endblock %}
